<%= content_for :menu do %>

<%= icon_to 'retour.png', book_lines_path(@book) %>
<% end -%>


<div class="champ">
  <h3>
    <%=  @book.title.capitalize %> : nouvelle ligne
  </h3>
  
  <div class="inner-champ">
<%= render 'form' %>
    </div>
</div>