<%= content_for :menu do %>

<% end -%>

<fieldset><legend>Liste des caisses</legend>
<table>
  <tr>

   

    <th>Nom</th>

    <th></th>
 
  </tr>

<% @cashes.each do |cash| %>
  <tr>

  

    <td><%= cash.name %></td>

    <td><%= icon_to 'afficher.png', cash_lines_path(cash, :mois=>@period.guess_month) %></td>
 
  </tr>
<% end %>
</table>

</fieldset>


