<tr>
  <td><%= book.abbreviation %></td>
  <td><%= book.title %></td>
  <td><%= book.description  %></td>
  <td>
    <%= icon_to 'modifier.png', 
      edit_admin_organism_book_path(@organism, book),
      :id=>"icon_modifier_book_#{book.id}" %>
  </td>
</tr>