<%= content_for :menu do %>


<%= icon_to 'detail.png', admin_organism_book_path(@organism,@book) %>
<%= icon_to 'navigation90.png', admin_organism_books_path(@organism) %>

<% end -%>

<div class="champ">
  <h3>
    Modification d'un livre
  </h3><div class="inner-champ">

 <%= render 'form'  %>

</div></div>