

<%= content_for :menu do %>


<%= icon_to 'nouveau.png', new_admin_organism_book_path(@organism) %>
<%= icon_to 'navigation90.png', @organism %>
<% end %>

<div class="champ">
  <h3>
    Liste des livres
  </h3><div class="inner-champ">



<table>
  <thead> 
  <tr>
    <th>Titre</th>
    <th>Description</th>
    <th>Type de livre</th>
    <th>Créé le</th>
    <th>Mis à jour le</th>
    <th>Actions</th>
   
  </tr>
  </thead>
  <tbody>
<%= render partial: 'book', collection: @books %>
  </tbody>
</table> 

</div></div>


