

<%= content_for :menu do %>


<%= icon_to 'nouveau.png', new_admin_organism_book_path(@organism) %>
<%= icon_to 'navigation90.png', @organism %>
<% end %>

<div class="champ">
  <h3>
    Liste des livres
  </h3><div class="inner-champ">



<table>
  <tr>
    
    <th></th>
    <th></th>
   
  </tr>

<%= render partial: 'book', collection: @books %>
</table>

</div></div>


