<div class="champ">
<h3>Renvoyer les instructions de confirmation</h3>
<div class="inner-champ">
  <div class='panel-body'>
<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name),
    html: { method: :post}, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>
  

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
 
  <div class="form-actions">
    <%= f.button :submit, "Renvoyer", class: "btn-primary span2" %>
  </div>
<% end %>
 </div>
  </div>
</div>
</div>