- if @organism.masks.any?
  %li.divider
  %li.dropdown-header.no-link{role:'presentation'}
    = link_to('Modèles d\'écriture', '#', role:'menuitem') 
  - @organism.masks.each do |mask|
    %li{role:'presentation'}
      = link_to mask.title, new_mask_writing_path(mask),
        title:mask.comment, role:'menuitem'