%li.nav-header.no-link= link_to menu_book.description, '#'
%li= link_to 'Afficher', book_in_out_writings_path(menu_book)
%li= link_to 'Ecrire', new_book_in_out_writing_path(menu_book)  if  @organism.can_write_line? && @period.open
