%li.dropdown-header.no-link{role:'presentation'}= link_to menu_book.title, '#'
%li= link_to 'Afficher', book_in_out_writings_path(menu_book), {role:'menuitem'}
%li= link_to 'Ecrire', new_book_in_out_writing_path(menu_book),
  {role:'menuitem'}  if @organism.can_write_line? && @period.open
