%li.dropdown-header.no-link
  = link_to('TRANSFERTS', '#', {role:'presentation'}) 
  %li{role:'presentation'}
    = link_to 'Afficher', transfers_path({:mois=>'tous'}), {role:'menuitem'}
  %li{role:'presentation'}
    = link_to 'Nouveau', new_transfer_path, {role:'menuitem'}