.bundle
.secret
.env
.smtp
db/development
db/production
db/test
db/test.sqlite3
db/staging
log/*.log
tmp/
.sass-cache/
webrat.log
doc/app/
hello.pdf
coverage
testocra.bat
C:\\nppdf32Log\\debuglog.txt
spec/models/pdf_files/test_pdf_files
spec/models/pdflc/pdf_files
spec/models/compta/pdf_files
public/dev-assets
nbproject/
