<%= content_for :menu do %>

<%= icon_to 'retour.png', organisms_path %>
<%= icon_to 'restauration.png', new_admin_restore_path ,
         :confirm=>"Restaurer un organisme ou en créer un nouveau à partir d'un fichier de sauvegarde ?",
                :title=>"Permet de créer un organisme à partir d'un fichier de sauvegarde" %>
<% end -%>


<div class="champ">
  <h3>
    Nouvel organisme
  </h3><div class="inner-champ">

<%= render 'form' %>
</div></div>