@charset "UTF-8";
/*TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html

thème couleur principale 9cd avec en plus foncé 4ca5c3 et 2a6a7f
thème suggéré 378aa5 et bbb avec fff
*/
/* line 18, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta #header {
  height: 45px;
  background-color: #32c732;
}
/* line 21, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta #header #logo {
  width: 500px;
  height: 100%;
  background: #32c732;
  font: small-caps 36px/36px "Times New Roman" , serif;
  color: #faf999;
  text-align: left;
  padding-left: 0.5em;
  padding-top: 5px;
}
/* line 31, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta #header #logo a {
  text-decoration: none;
  padding-bottom: 0px;
}
/* line 35, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta #header #logo a:hover {
  background: #32c732;
}
/* line 41, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta #header #organism a:hover {
  color: #FFF;
  background: #114411;
}
/* line 46, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta #header #zone_compta {
  position: absolute;
  top: 1em;
  right: 1em;
  font-style: italic;
  font-size: smaller;
}
/* line 52, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta #header #zone_compta a:hover {
  color: #FFF;
  background: #114411;
}
/* line 58, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta #bandeau {
  background: #fff;
  margin-bottom: 10px;
  padding-top: 22px;
}
/* line 64, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta fieldset {
  background: #faf999;
  margin-left: 0px;
  margin-bottom: 10px;
}
/* line 68, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta fieldset legend {
  color: #32c732;
  background: #114411;
  font-family: sans-serif;
  padding: 0.2em 1em;
}
/* line 76, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta nav#menu {
  background-color: #32c732;
}
/* line 79, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta nav#menu h2 {
  background-color: #114411;
}
/* line 80, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta nav#menu a {
  background-color: #32c732;
}
/* line 81, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta nav#menu a:hover {
  color: #FFF;
  background: #114411;
}
/* line 85, /home/jcl/rails_project/faitesvoscomptes/faitesvoscomptes/app/assets/stylesheets/compta/application.css.scss */
.compta nav#menu a.icon_menu {
  background-color: #32c732;
}
