=content_for :menu do
  = icon_to 'retour.png', :back


.champ
  %h3
    =@bank_account.nickname
    &nbsp: importation d'un extrait de compte à partir d'un fichier csv
  .inner-champ
    .inputs
      =simple_form_for [@bank_account, @bels_importer],
        :url => importer_bank_account_bels_importer_path,
        :html=> {class: 'form-horizontal'}  do |f| 
        -# error_messages est un helper défini dans bels_importer_helper
        = f.error_notification(message: error_messages(@bels_importer))
        = f.input :file, as: :file, label:'Fichier', required:true
        .form-actions= f.submit "Import", class: "btn-primary span2"
