<%  content_for :menu do %>
   <%= icon_to 'retour.png', :back %>
<%  end %>


 <div class="panel-body">
  <%= simple_form_for [:admin,@organism, @period] ,
    :html=> {class: 'form-horizontal'}, wrapper: :horizontal_form, remote:true do |f| %>
    <%= render partial:'inputs', :locals=>{f:f} %>
  <% end %>
</div>