= icon_to 'pdf.png', compta_period_listing_path(@period,                                                |
  :compta_listing=>{:account_id=>@listing.account_id,                                                   |
  :from_date_picker=>@listing.from_date_picker, :to_date_picker=>@listing.to_date_picker },             |
  :format=>'pdf'), :id=>'icon_pdf'                                                                      |