%table(cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed listing_data_table")
  %thead
    %tr
      %th.pc5.date-euro Date
      %th.pc5 Pce
      %th.pc5 Jnl
      %th.pc10 Réf
      %th.pc25 Libellé
      %th.pc15 Nature
      %th.pc15 Destination
      %th.pc10 Débit
      %th.pc10 Crédit
  %tbody>
    = render  partial:'compta/lines/line', collection:@listing.lines
  %tfoot
    %tr.total#totaux
      %th(colspan="7" style="text-align:right" rowspan="1")
        Totaux:
        %br Valeurs au #{I18n.l @listing.to_date}
        
      %th#tgdebit.numeric.nombre
        %span#tdebit
        =# le total débit des lignes est affiché par un calcul en javascript
        %br
        %span#cumul_debit=  debit_credit(@listing_cumulated_debit_at)
      %th#tgcredit.numeric.nombre
        %span#tcredit 
        =# le total crédit des lignes est affiché par un calcul en javascript
        %br
        %span#cumul_credit=  debit_credit(@listing_cumulated_credit_at)
