 <div class="orphan_natures">
   <% ['depenses', 'recettes'].each do |r| %>
   <h3><a href="#">Natures non rattachées de type <%= r.capitalize %></a></h3>
   <div>
      <ul id="<%=r%>">
          <% @unlinked_natures.instance_eval(r).each do |nature| %>
             <%= render partial: 'li_nature', object: nature, locals: {r: r} %>
          <% end %>
        </ul>
    
    </div>
   <% end %>
  
  </div>
 

