 <div class="mapping_natures">
   <h3>Liste des natures orphelines</h3>
    <ul>
    <% @unlinked_natures.each  do |nature| %>
      <%= content_tag_for :li, nature do %>
      <%=  nature.name %> 
      <% end %>

    <% end %>
       </ul>
  </div>
