<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_admin_period_account_path(@period) %>
<%= icon_to 'retour.png', :back %>
<% end -%>

<div class="champ">
  <h3>
    Modification Compte
  </h3><div class="inner-champ">

<%= render 'form' %>
  </div></div>



