<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="champ">
  <h3>
    Liste des comptes et des natures non rattachées à des comptes
  </h3><div class="inner-champ">
  <span id="period" style="display: none;"><%= @period.id %></span>


<%= render partial: 'mapping_accounts' %>

 <%= render partial: 'orphan_natures' %>



</div></div>