<ul>
  <li><h2>ORGANISMES</h2>

    <ul>
      <li><%= link_to 'Listes des organismes', compta_organisms_path %></li>
      <% Organism.all.reject {|r| r.new_record? }.each do |r| %>
        <li>
<%= link_to r.title, compta_organism_path(r)  %>

        </li>
      <% end %>
     
    </ul>

  </li>
</ul>


<% unless @period.nil? %>
<ul>
  <li><h2>Comptes</h2>

    <ul>
      <li><%= link_to 'Plan comptable', compta_period_accounts_path(@period) %></li>
    </ul>

  </li>
</ul>
<% end %>

<% unless @organism.nil? %>

<ul>
    <li><h2>Exercices</h2>
      <ul>
        <% @organism.periods.each do |c| %>
          <li><%= link_to c.exercice, compta_organism_period_path(@organism, c) %>
            
          </li>
        <% end %>

      </ul>

    </li>
  </ul>
<% end %>
