<% content_for :menu do %>

<% end %>
<div class="champ">
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>

  </tr>

<% @organisms.each do |organism| %>
  <tr>
    <td><%= organism.title %></td>
    <td><%= organism.description %></td>
   
  </tr>
<% end %>
</table>

</div></div>