<%= content_tag :div, :class=>"pave cash #{local_classes}"  do %>

<h3><%=  cash_pave.virtual.name %> = <%= number_to_currency cash_pave.sold_at(@date) %>
   
</h3>
  <%= render partial: 'line_graphic', object: cash_pave.graphic(@period)  , :locals=>{id: "cash_#{cash_pave.virtual.id}" } %>
<% end %>