<%= content_for :menu do %>
 
<% end -%>


<div class="champ">
  <h3>Liste des organismes</h3>
  
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed data_table">
  <thead>
  <tr>
    <th>Titre</th>
    <th>Description </th>
    <th>Action</th>
 </tr>
  </thead>
  <tbody>
<% @organisms.each do |organism| %>
  <tr>
    <td><%= organism.title %></td>
    <td><%= organism.description %></td>
    <td><%= icon_to 'afficher.png', organism %></td>
  </tr>
<% end %>
  </tbody>
</table>
  </div>



