<%= content_for :menu do %>

<%= icon_to 'navigation90.png', organisms_path %>


<%= render 'menu' %>
<% end %>
<div>
  ICI on pourra mettre des infos de type graphique sur le suivi du compte


</div>
