
.champ
  %h3 Liste des espaces


%table(cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="admin_organism_table")
  %thead
    %tr
      %th.pc15 Nom


  %tbody
    - @tenants.each do |t|
      %tr
        %td= t.name
        %td
          = icon_to 'afficher.png', admin_room_path(t), title: 'Entrer dans cet espace'

