%tr.total#totaux
  %th(colspan="5" style="text-align:right" rowspan="1")
    Totaux:<br/>
    Totaux globaux:
  %th#tdebit(rowspan="1" colspan="1" class="numeric")
    =  debit_credit(@monthly_extract.total_debit)
    =  debit_credit(@monthly_extract.total_debit)
  %th#tdcredit(rowspan="1" colspan="1" class="numeric")
    =  debit_credit(@monthly_extract.total_credit)
    =  debit_credit(@monthly_extract.total_credit)
  %th