<div class="modal hide" id="modal_form_balance">
  <div class="modal-header">
    <h3>Modification des paramètres
        <button class="close" type="button" data-dismiss="modal">×</button></h3>
      </div>
      <div class="modal-body">
<%=   render partial:'modal_body_form' %>
         </div>

</div>
 