<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_bank_account_bank_extract_path(@bank_account) %>
<%= icon_to 'navigation90.png', bank_account_bank_extracts_path(@bank_account) %>
<% end -%>

<div class="champ">
  <h3>
    Modification d'un extrait de compte
  </h3><div class="inner-champ">

<%= render 'form' %>
</div></div>



