<%= content_for :submenu do %>

  <%= icon_to 'navigation90.png', bank_account_bank_extracts_path(@bank_account) if @bank_account.bank_extracts.count > 0 %>
  <%= icon_to 'navigation90.png', bank_accounts_path unless @bank_account.bank_extracts.count > 0 %>
<% end -%>

<div class="champ">
  <h3>
    Création d'un extrait de compte
  </h3><div class="inner-champ">

    <%= render 'form' %>
  </div>
</div>