= content_for :menu do 

  = icon_to 'nouveau.png', new_admin_organism_mask_path(@organism) 
  = icon_to 'navigation90.png', admin_organism_masks_path(@organism) 
 

.champ
  %h3 Modification d'un masque de saisie
  .inner-champ
    = render 'form' 
