.row
  .writing_line_form
    =builder.association :account, :label=> 'Compte',
    :wrapper_html=>{class: "col-lg-4", id:'td_cca'},
    :collection => @period.used_accounts,
    :label_method=> :long_name, :value_method=> :id, :required=>true

    =builder.input :debit, :wrapper_html=> {class: "col-lg-2"},
      input_html:{class: "debit", value:two_decimals(builder.object.debit) },
     :as=>:french_decimal

    =builder.input :credit, :wrapper_html=> {class: "col-lg-2"},
      input_html:{class: "credit", value:two_decimals(builder.object.credit) },
     :as=>:french_decimal

    %a.add_form_line= image_tag('icones/nouveau.png')
    =builder.hidden_field :_destroy
    =link_to_function image_tag('icones/supprimer.png'),
      "remove_writing_line_form(this)",
      {class:'remove_form_line', :tabindex=>-1}
 
