.panel-body{:class=>@book.type}
  = simple_form_for(['compta', @book, @writing]) do |f|
    = f.error_notification
    .form-inputs
      .row
        =f.input :date_picker, :label=> 'Date', wrapper_html:{class:'col-lg-3'},
           input_html: { date_min:@period.start_date, date_max:@period.close_date} ,
           :required => true, :disabled=>(@book.type == 'AnBook'), :as=>:date_picker
        =f.input :narration,  :label=>'Libellé ',
          :wrapper_html=>{:class=>'col-lg-7'}        
        =f.input :ref, label:'Référence', :wrapper_html=>{:class=>'col-lg-2'}

      =f.fields_for :compta_lines do |build|
        = render :partial=>'compta_line_fields', :locals=>{:builder=>build}
      
    .form-actions
      =  f.button :submit, class: "btn-primary col-lg-2 col-lg-offset-6"
