= simple_form_for(['compta', @book, @writing]) do |f|
  = f.error_notification
  .inputs.row-fluid
    .span12.inner-champ
      =f.input :date_picker, :label=> 'Date', wrapper_html:{class:'span3'}, label_html: {class: 'span4'}, input_html: {class: 'span8', date_min:@period.start_date, date_max:@period.close_date} ,:required => true, :as=>:date_picker
      =f.input :narration,  :label=>'Libellé ', :wrapper_html=>{:class=>'span6'}, label_html:{class:'span2'}, input_html: {class:"span9" }
      =f.input :ref, label:'Référence', :wrapper_html=>{:class=>'span3'}, input_html: {class: "span8" } , :label_html=>{class:'span4'}
    
    =f.fields_for :compta_lines do |builder|
      .span12
        =builder.association :account, :label=> 'Compte',  :wrapper_html=>{class: "span3", id:'td_cca'}, input_html: {class: "span8"}, :label_html=>{class:'span4'}, |
                :collection => @period.accounts, :label_method=> :long_name, :value_method=> :id, :required=>true 

        =builder.input :debit, :wrapper_html=> {class: "span3"}, :label_html=>{class:'span4'},                         |
                  input_html:{class: "numeric decimal span8" }, :as=>:french_decimal 

        =builder.input :credit, :wrapper_html=> {class: "span3"}, :label_html=>{class:'span4'},                         |
                  input_html:{class: "numeric decimal span8" }, :as=>:french_decimal

        =builder.check_box :_destroy
        =builder.label :_destroy, 'Supprimer'
        
 
  .row-fluid
    .span12
      .form-actions.offset1
        =  f.button :submit, class: "btn-primary span2"
 