.row.writing
  .col-lg-12.title
    .span1
      N° :
      = writing.id
    .span2
      Date :
      =l writing.date
    .span5
      Libellé :
      =writing.narration
    .span2
      Réf :
      =writing.ref
    .span2
      Actions :
      =compta_line_actions(@book, writing)

  - writing.compta_lines.each do |cl|
    .row
      .col-lg-12.compta_lines
        .col-lg-6{:class=>class_style(cl) }
          =cl.account.long_name
        .col-lg-3.numeric=debit_credit cl.debit
        .col-lg-3.numeric=debit_credit cl.credit