.writing
  
  
  .title.col-lg-2
    Date :
    =l writing.date
  .title.col-lg-1
    Pce :
    = writing.piece_number
  .title.col-lg-2
    Réf :
    =writing.ref
  .title.col-lg-3
    Libellé :
    =writing.narration
  .title.col-lg-2
    Date pièce :
    =l writing.date_piece if writing.date_piece
  .title.col-lg-2
    Actions :
    =compta_line_actions(@book, writing)

  -writing.compta_lines.each do |cl|
    .compta_lines.col-lg-6{:class=>class_style(cl) }
      =cl.account.long_name
    .compta_lines.col-lg-3.numeric=debit_credit cl.debit
    .compta_lines.col-lg-3.numeric=debit_credit cl.credit