.row-fluid.writing
  .span12.title
    .span1
      N° :
      = writing.id
    .span2
      Date :
      =l writing.date
    .span5
      Libellé :
      =writing.narration
    .span2
      Réf :
      =writing.ref
    .span2
      Actions :
      =compta_line_actions(@book, writing)

  - writing.compta_lines.each do |cl|
    .row-fluid
      .span12.compta_lines
        .span6{:class=>class_style(cl) }
          =cl.account.long_name
        .span3.numeric=debit_credit cl.debit
        .span3.numeric=debit_credit cl.credit