%h1 Listing writings

%table
  %tr
    %th
    %th
    %th

  - @writings.each do |writing|
    %tr
      %td= link_to 'Show', ['compta', @book,writing]
      %td= link_to 'Edit', edit_compta_book_writing_path(@book, writing)
      %td= link_to 'Destroy', ['compta',@book, writing], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Writing', new_compta_book_writing_path(@book)
