=content_for :menu do
  =icon_to 'nouveau.png', new_compta_book_writing_path(@book), title:'Nouvelle écriture'
  - if @book.writings.compta_editable.any? && @mois == 'tous'
    =icon_to 'verrouiller.png', all_lock_compta_book_writings_path(@book, :mois=>@mois, :an=>@an),
      :method=>:post, confirm:'Cette action verrouille toutes les lignes de ce livre et est définitive. Confirmez-vous ?',
      title:'Verrouiller toutes les écritures de ce livre',
      id:'all_lock_icon'
    
.champ
  %h3
    Journal #{@book.title} : Liste d'écritures 
    %ul.mois= submenu_mois(@period, {action:'index', controller:'compta/writings', :book_id=>@book.id}) unless @book.type == 'AnBook'

= render :partial=>'compta/writings/writing', :collection=>@writings
- if @writings.empty?
  %p Aucune écriture dans cette sélection