= content_for :menu do
  = icon_to 'navigation90.png', compta_book_writings_path(@book), title:"Affichage des écritures du livre #{@book.abbreviation}"

.champ
  %h3 Affichage d'une écriture

=render :partial=>'compta/writings/writing', :object=>@writing
