
%thead
  %tr
    %th.pc5 Position
    %th.pc20 Nom
    %th.pc35 Commentaire
    %th.pc15 Lié au compte n°
    %th.pc15 Libellé du compte
    %th.pc10 Actions
%tbody
  = render :partial=>'natures', :collection=>list, :as=>:nature
  