%table.table.table-striped.table-bordered.table-condensed(cellpadding="0" cellspacing="0" border="0")
  %thead
    %tr
      %th.pc20 Nom
      %th.pc40 Commentaire
      %th.pc15 Lié au cpte
      %th.pc15 Libellé du compte
      %th.pc10 Actions
    %tbody
      = render :partial=>'natures', :collection=>list, :as=>:nature
  