<%= content_for :menu do %>
  <%= icon_to 'navigation90.png', admin_organism_natures_path(@organism) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Nom</th>
       <th>Commentaire</th>
        <th>Rattaché au compte</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render @natures  %>
    </tr>
  </tbody>


</table>