<%= content_for :menu do %>

<%= icon_to 'retour.png', admin_organism_period_natures_path(@organism, @period) %>
<% end -%>

<div class="champ">
  <h3>
    Nouvelle Nature
  </h3><div class="inner-champ">

<%= render 'form' %>
</div></div>