<div class="champ">
  <h3>Mot de passe oublié</h3>
<div class="inner-champ">

<div class="inputs">


<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post , class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, :required => true, :autofocus => true,  input_html: {class: "span3"}  %>
  <div class="form-actions">
    <%= f.button :submit, "Envoyer les instructions de récupération" , class: "btn-primary span3" %>
  </div>
<% end %>
 </div>

 </div>



</div>