-# partial appelé pour afficher les lignes (les comptes) d'une rubrique au passif
%tr{:class=>'account_detail'}
  %td= account_passif[0]
  %td.numeric= debit_credit account_passif[3]
  %td.numeric= debit_credit account_passif[4]