-# partial appelé par la vue index pour l'affichage des rubriques et sous rubriques de l'index
- unless passif.leaf?
  =render :partial=>'actif', :collection=>actif.collection
= render :partial=>'actif_rubriks_line', :object=>actif