.actif
  %table.pc100
    %thead
      %th.pc60 Rubrique
      %th.pc10 Brut
      %th.pc10
        Amortissement
        %br Provision
      %th.pc10 Net
      %th.pc10 Exercice précédent
    %tbody
      - detailed_actif.collection.each do |tgl|
        = render :partial=>'detailed_actif_line', :collection=>tgl.collection
        = render :partial=>'actif_total_line', :object=>tgl.totals
      = render :partial=>'actif_total_line', :object=>detailed_actif.totals