- if detailed_actif.depth >=1
  =render :partial=>'detailed_actif', :collection=>detailed_actif.collection
-else
  = render :partial=>'account_actif', :collection=>detailed_actif.lines.map {|l| l.to_a }
= render :partial=>'actif_rubriks_line', :object=>detailed_actif

