-# affichage récursif des lignes de type passif (soit passif, soit compte de résultats)
- if detailed_passif.depth >=1
  =render :partial=>'detailed_passif', :collection=>detailed_passif.collection
= render :partial=>'passif_rubriks_line', :object=>detailed_passif