-# affichage récursif des lignes de type passif (soit passif, soit compte de résultats), appelé par la vue index
- unless passif.leaf?
  =render :partial=>'passif', :collection=>passif.collection
= render :partial=>'passif_rubriks_line', :object=>passif