-# Vue pour l'action détail 
=content_for :menu do
  = icon_to 'report-excel.png', detail_compta_period_sheets_path(params.merge :format=>'xls'), title:'XLS', :target=>'_blank'
  = icon_to 'table-export.png', detail_compta_period_sheets_path(params.merge :format=>'csv'), title:'CSV', :target=>'_blank'
  

.champ
  %h3 Liste des comptes et des soldes

.row-fluid
  .span12
    %table
      %thead
        %tr
          %th.span2 Numéro
          %th.span6 Libellé
          %th.span2= @period.exercice
          %th.span2 Ex.précédent
      %tbody
        = render :partial=>'detail_line', :collection=>@detail_lines
