=content_for :menu do
  = icon_to 'report-excel.png', compta_period_sheets_path(params.merge :format=>'xls'), title:'XLS', :target=>'_blank'
  = icon_to 'table-export.png', compta_period_sheets_path(params.merge :format=>'csv'), title:'CSV', :target=>'_blank'



- @docs.each do |doc|
  - if doc.sens  == :actif
    =render :partial=>'actif', :object=>doc
  -else
    =render :partial=>'passif', :object=>doc



