=content_for :menu do
  = delayed_export_icons(params)
  



- @docs.each do |doc|
  .champ
    %h3
      = doc.folio.title
      = icon_to 'detail.png', compta_sheet_path(doc.folio)
  - if doc.sens  == :actif
    .actif
      %table.pc100
        %thead
          %th.pc60 Rubrique
          %th.pc10 Brut
          %th.pc10
            Amortissement
            %br Provision
          %th.pc10 Net
          %th.pc10 Exercice précédent
        %tbody
          =render :partial=>'actif', :object=>doc.folio.root
  -else
    .passif
      %table.pc100
        %thead
          %th.pc80 Rubrique
          %th.pc10 Montant
          %th.pc10 Exercice précédent
        %tbody
          =render :partial=>'passif', :object=>doc.folio.root



