=content_for :menu do
  = icon_to 'retour.png', :back
  
.alert.notice
  %a.close(data-dismiss='alert') x
  %strong
    %em#message_info Calcul des données... 
    %em#message_spinner 
    

.champ
  %h3 Etats financiers

