.writing{:id=>dom_id(writing) }
  .title.col-lg-12
    .col-lg-2
      Jnl :
      = writing.book.title
    .col-lg-1
      Pce :
      = writing.id
    .col-lg-2
      Date :
      =l writing.date
    .col-lg-4
      Libellé :
      =writing.narration
    .col-lg-1
      Réf :
      =writing.ref
    .col-lg-2
      Actions :
      - if writing.compta_editable?
        = icon_to 'verrouiller.png',
          lock_compta_period_selection_path(@period, writing),
          :method=>:post, remote:true unless writing.locked?
      - else
        %img{:src=>"/assets/icones/nb_verrouiller.png",:alt=>'verrou', :title=>"Les écritures de ce journal doivent être verrouillées par un contrôle de caisse ou un pointage bancaire"}


  - writing.compta_lines.each do |cl|
    
    .compta_lines
      .col-lg-6{:class=>class_style(cl) }
        =cl.account.long_name
      .col-lg-3.numeric=debit_credit cl.debit
      .col-lg-3.numeric=debit_credit cl.credit