.writing{:id=>dom_id(writing) }
  .title.col-lg-12
    .col-lg-2
      Jnl :
      = writing.book.title
    .col-lg-1
      Pce :
      = writing.piece_number
    .col-lg-2
      Date :
      =l writing.date
    .col-lg-4
      Libellé :
      =writing.narration
    .col-lg-1
      Réf :
      =writing.ref
    .col-lg-2
      Actions :
      =compta_line_selections_actions(writing)

  - writing.compta_lines.each do |cl|
    
    .compta_lines
      .col-lg-6{:class=>class_style(cl) }
        =cl.account.long_name
      .col-lg-3.numeric=debit_credit cl.debit
      .col-lg-3.numeric=debit_credit cl.credit