.champ
  %h3 Compte de résultats

.results_table
  = render partial:'result_exploitation'
-#
  = render partial:'result_financier'
  = render partial:'result_exceptionnel'
  = render partial:'totals'
