%tr
  %th.droite{colspan:3, rowspan:1} Totaux
  %td.numeric#bels_total_debit=  debit_credit @bank_extract.total_lines_debit
  %td.numeric#bels_total_credit=  debit_credit @bank_extract.total_lines_credit
  %td