-# unless @bank_extract_lines.any?
  %tr#0
    %td 
    %td 
    %td Faites glisser les lignes disponibles à droite sur cette table
    %td
    %td
    %td

- @bank_extract_lines.all.each do |bel|
  = render(partial:'standard_bank_extract_line', :object=>bel) 