<h1>MultipleLines#show</h1>
<p>Find me in app/views/multiple_lines/show.html.erb</p>


Ici affichage des lignes correspondantes à @mlines
En fait donc un partial qui reprend la vue que l'on a dans lines
