
    <%  tbodyadded.each do |line |%>
      <tr>
     <%= render partial: 'line', object: line %>
          <td><%=  button_to "Retirer", remove_check_bank_account_check_deposit_path(@bank_account, @check_deposit, :line_id=>line.id), remote:true  %></td>
           
      </tr>
    <% end %>

