<%= content_for :menu do %>
  <%= icon_to 'retour.png', :back %>
<% end -%>

<div class="champ">
  <h3>Livre <%= @book.title %> </h3>
  <div class="inner-champ">
    <%= @book.description %>
  </div>
</div>

