-content_for :menu do
  =icon_to 'retour.png', :back

.champ
  %h3 A propos
.inner-champ
  %p
    = "FaitesLesComptes version #{FLCVERSION} est un logiciel conçu par un expert-comptable"
    pour la tenue de comptabilité de trésorerie au sens de la réglementation comptable et fiscale 
    française.
  %p
    Les initiales RC dans le numéro de version indiquent que cette version est une "Release Candidate", une version
    encore en évolution pour régler les derniers petits problèmes qui peuvent encore se poser à l'utilisation.
     
  %p 
    L'ensemble du logiciel FaitesLesComptes est sous licence Apache, Version 2.0. (cf.fichier 
    README.rdoc dans les sources). 
     
    
  