-content_for :menu do
  =icon_to 'retour.png', :back

.champ
  %h3 A propos
.inner-champ
  %p
    = "FaitesLesComptes version #{FLCVERSION} est un logiciel conçu par un expert-comptable"
    pour la tenue de comptabilité simplifiée au sens de la réglementation comptable et fiscale 
    française.
  %p
    Les initiales RC dans le numéro de version indiquent que cette version est une "Release Candidate", une version
    encore en évolution pour régler les derniers petits problèmes qui peuvent encore se poser à l'utilisation.
  %p
    FaitesLesComptes est un logiciel libre, ce qui signifie que vous êtes autorisés à l'utiliser librement, mais 
    aussi à le diffuser ou encore à le modifier, que ce soit à des fins personnelles ou professionnelles, commerciales ou non.
  %p Mention de l'origine et de la source n'est pas obligatoire mais reste néanmoins apprécié.
  %p Le logiciel est livré tel que sans garantie aucune quant à son fonctionnement et à son utilisation.


