-content_for :menu do
  =icon_to 'retour.png', :back

.champ
  %h3 Nous contacter
.inner-champ
  %p
    Vous pouvez nous écrirer par mail à
    %a(href = 'mailto:jean-claude.lepage@faiteslescomptes.fr') Jean Claude Lepage.
  %p
    Nous pouvons aussi vous proposer des prestations de conseil et d'accompagnement |
    pour vos tâches comptables. N'hésitez pas à nous  |
    %a(href = 'mailto:expert@faiteslescomptes.fr') contacter.
  %p
    Pour plus de renseignements, vous pouvez aller sur le site de
    %a(href='http://faiteslescomptes.fr') FaitesLesComptes.