.champ
  %h3 Remerciements
%p Nous tenons à remercier toute la communauté open-source sans laquelle ce logiciel n'existerait pas.
%p Impossible de citer tous les contributeurs qui, par leurs efforts cumulés,                          |
  rendent aujourd'hui possible la création de tels outils pour un coût raisonnable. Citons néanmoins : |
%ul
  %li
    David Heinemeier Hansson, le concepteur de
    %a{href:"http://rubyonrails.org/"} Ruby on Rails
  %li
    Les auteurs de
    %a(href="http://jquery.com") jQuery,
    outil qui simplifie grandement la conception de l'interface utilisateur
  %li
    %a(href="https://twitter.com/") Twitter
    qui a mis dans le domaine public les styles de son interface
  %li
    %a(href="http://stackoverflow.com") StackOverflow
    dont les réponses des membres ont permis de surmonter les nombreuses difficultés techniques
  %li
    Yukihiro Matsumoto, le concepteur du langage
    %a(href="www.ruby-lang.org/fr/") Ruby
  %li
    %a(href="http://p.yusukekamiyamane.com") Yusuke Kamiyamane
    à qui l'on doit l'ensemble des icones du sites
