.champ
  %h3 Les guides
  %ul
    %li
      = link_to 'Guide rapide de prise en main' , 'http://faiteslescomptes.fr/images/sources_pdf/guide_rapide.pdf'
      &nbsp;: Ce guide vous présente l'usage général du logiciel à partir du cas pratique
      d'une petite association sportive. De la création de l'organisme, jusqu'aux opérations de clôture.
    %li
      = link_to 'Guide de référence', 'http://faiteslescomptes.fr/images/sources_pdf/FaitesLesComptes_reference.pdf'
      &nbsp;: Passe en revue l'ensemble des menus et des actions du logiciel.