-# Vue pour l'action détail 
=content_for :menu do
  = delayed_export_icons(params)
  

.champ
  %h3 
    Liste des comptes et des soldes
    
    

.row-fluid
  .span12
    %table
      %thead
        %tr
          %th.span4 Libellé
          %th.span2 Brut
          %th.span2 Amortissement
          %th.span2 Net
          %th.span2 Ex.précédent
      %tbody
        = render :partial=>'detail_line', :collection=>@detail_lines
