<p> Bonjour <%= @user.name %> , </p>

<p> 
  Vous venez de confirmer votre compte sur FaitesLesComptes et 
  nous espérons que cet outil répondra à vos besoins.
</p>
<p>Notre objectif est de proposer un logiciel libre,                           
  accessible à un non professionnel de la comptabilité,                       
  qui aille de la saisie des recettes et dépenses jusqu'à l'édition du bilan  
  et du compte de résultats.  
</p>
<p> 
  FaitesLesComptes est initialement conçu pour les trésoriers des associations    
  et des comités d'entreprise; c'est pourquoi FaitesLesComptes ne gère pas la TVA.
  Néanmoins, cet outil est utilisable pour les professions libérales 
  et les sociétés dans la mesures où elles ne dépassent pas le seuil de TVA 
  (ou encore si elles ne sont pas assujetties). 
</p>
<p>
  FaitesLesComptes est un logiciel encore jeune et qui évolue rapidement 
  en fonction des retours des utilisateurs. Nous avons récemment introduit 
  la création d'écritures à partir de relevés de comptes bancaires pour 
  faciliter encore plus les saisies. 
  N'hésitez pas à nous faire part de vos remarques, tant sur le plan 
  de l'ergonomie que des fonctionnalités.
</p>
<p> 
  Vos questions nous intéressent également dans la mesure où vous ne serez 
  probablement pas le seul à vous les poser. Elles pourront utilement alimenter
  la FAQ du site FaitesLesComptes.
</p>
<p> N'hésitez donc pas à me les poser.</p>

<p> Cordialement</p>

<div id='signature'>
<p> Jean-Claude Lepage</p>
<p> Expert-Comptable</p>

<p>
  <a href='http://faiteslescomptes.fr'>FaitesLesComptes</a>
  est un logiciel libre de comptabilité dédié aux petites structures
</p>
<p>
  Nous soutenons le <a href='http://april.org'>logiciel libre
</p>
</div>
