%p Bonjour,

%p 
  Vous avez tout récemment ouvert un compte sur FaitesLesComptes et |
  nous espérons que cet outil répondra à vos besoins.

%p 
  Notre objectif est de proposer un logiciel libre,                           |
  accessible à un non professionnel de la comptabilité,                       |
  qui aille de la saisie des recettes et dépenses jusqu'à l'édition du bilan  |
  et du compte de résultats.  |

%p 
  FaitesLesComptes est initialement conçu pour les trésoriers des associations    |
  et des comités d'entreprise; c'est pourquoi FaitesLesComptes ne gère pas la TVA.|
  Néanmoins, cet outil est utilisable pour les professions libérales |
  et les sociétés dans la mesures où elles ne dépassent pas le seuil de TVA | 
  (ou encore si elles ne sont pas assujetties). |
%p
  FaitesLesComptes est un logiciel encore jeune et qui évolue rapidement |
  en fonction des retours des utilisateurs. Nous travaillons notamment |
  sur l'importation de relevés de comptes bancaires ou encore sur la liaison |
  entre le plan comptable et les éditions de bilans et de comptes de résultats.|
  N'hésitez pas à nous faire part de vos remarques, tant sur le plan |
  de l'ergonomie que des fonctionnalités.

%p 
  Vos questions nous intéressent également dans la mesure où vous ne serez |
  probablement pas le seul à vous les poser. Elles pourront utilement alimenter|
  la FAQ du site FaitesLesComptes.

%p N'hésitez donc pas à me les poser.

%p Cordialement


%p Jean-Claude Lepage
%p Expert-Comptable

%p
  =link_to 'FaitesLesComptes', 'http://faiteslescomptes/fr'
  est un logiciel libre de comptabilité dédié aux petites structures
%p
  Nous soutenons le 
  = link_to 'logiciel libre', 'http://april.org' 