<%= content_for :menu do %>
  <%= icon_to 'retour.png', :back %>
<% end -%>

<div class="champ">
  <h3>
    Modification d'un compte bancaire 
  </h3>
  <div class="inner-champ">
    <%= render 'form' %>
  </div>
</div>



