
      <td>Lignes pointées</td>
      <td></td>
      <td></td>
      <td class="numeric" id="lines_begin_sold"><%= two_decimals @bank_extract.begin_sold %></td>
      <td id="total_lines_debit" class="numeric"><%= two_decimals @bank_extract.total_lines_debit %></td>
      <td id="total_lines_credit" class="numeric"><%= two_decimals @bank_extract.total_lines_credit %></td>
      <td id="lines_sold" class="numeric"><%= two_decimals @bank_extract.lines_sold %></td>
      <td></td>
    