= builder.association :nature,
 :wrapper_html=>{:class=>'col-lg-5'},
 :collection => @natures, :prompt => "Quoi ?", :required=>true

= builder.association :destination,
 :collection =>sectored_destinations(@organism, @book),
 :label=>'Activité',
 :prompt => "Pour qui ?",
 :wrapper_html=>{class: "col-lg-5"}

= builder.input(:debit,
 :wrapper_html=> {class: "col-lg-2"}, label:'Montant',
 input_html:{value:two_decimals(@line.debit) },
 :as=>:french_decimal) if (@book.type=='OutcomeBook')
= builder.input(:credit,
 :wrapper_html=> {class: "col-lg-2"}, label:'Montant',
 input_html: {value: two_decimals(@line.credit) },
 :as=>:french_decimal) if (@book.type=='IncomeBook')

