.modal.fade#WritingModal(tabindex="-1" role="dialog" aria-labelledby="WritingModal" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
        %h4.modal-title#myModalLabel Informations complémentaires
      .modal-body
        #WritingDetail