%ul.mois
  - @period.list_months('%b').each_with_index do |mois, i|
    %li{:class=>"#{'active' if current_page?(:mois => i)}" }
      = link_to_unless_current(mois, cash_cash_controls_path(@cash, "mois"=> i.to_s))