/*TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html

thème couleur principale 9cd avec en plus foncé 4ca5c3 et 2a6a7f
thème suggéré 378aa5 et bbb avec fff
*/

//

$clear: #FAF999;
$dark: #5d5c04;
$medium: #e3e32d;


.compta {
    #header {
       height: 45px;
        background-color: $medium;
        #logo {
            width: 500px;
            height: 100%;
            background: $medium;
            font: small-caps 36px/36px "Times New Roman" , serif;
            color: $clear;
            text-align: left;
            padding-left: 0.5em;
            padding-top: 5px;

            a {
                text-decoration: none;
                padding-bottom :0px;
            }
            a:hover {
                background: $medium;

            }
        }
        #zone_compta {
            position: absolute;
            top: 1em;
            right: 1em;
            font-style: italic;
            font-size: smaller;
        }
    }
    #bandeau {
        background: #fff;
        margin-bottom: 10px;
        padding-top: 22px;

    }
    fieldset {
        background: $clear;
        margin-left: 0px;
        margin-bottom: 10px;
        legend {
            color: $medium;
            background: $dark;
            font-family: sans-serif;
            padding: 0.2em 1em;
        }
    }

    nav#menu {
        background-color: $medium;

        h2 {background-color: $dark;}
        a {background-color: $dark;}
        a:hover {background-color: #FFF;}
    }

}