/*
    Document   : lines.css
    Created on : 14 janv. 2012, 12:53:00
    Author     : jcl
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

.compta_lines {
    .nombre {
       text-align: right;
       padding: 3px 10px;

}
}
