/*
    Document   : listings.css
    Created on : 23 juil. 2012, 17:58:42
    Author     : jcl
    Description:
        Purpose of the stylesheet follows.
*/

// la table des mouvements

.champ a {
    color: white;
    font-size: x-small;
    float: right;
    margin-right: 10px;
  }

#movements {
  float: right;
  margin-right: 0;
  text-align: right;
  
    td {
      padding-right: 5px;
      }
    tr#titles {
      text-align: center;
      }
    tr#begin-solds td, tr#end-solds td{
          background: #dbffdb;
          font-weight: bold;
      }
  
  
  }

#listing_table {
  clear: both;
  }