.compta_sheets {

  tr.account_detail {
    font-style: italic;
    }

  tr.depth_1 td {
      font-weight: bold;
      }

  tr.depth_2 td, tr.depth_3 td {
     font-weight: bold;
     font-size: larger;
    }
  }
