.writing_line_form
  = builder.association :account, :wrapper_html=>{class: "col-lg-4"},
          :label=> transfer_label(builder.object),
          input_html: {size: 8},
          :collection => [['Banques', @period.list_bank_accounts.to_a],
            ['Caisse', @period.list_cash_accounts.to_a]],
          :as => :grouped_select, :group_label_method=> :first, :group_method => :last,
          :label_method=> :nickname, :value_method=> :id, :required=>true,
          :include_blank=>false, :disabled=>!builder.object.editable?

 