%thead
  %tr
    - @sd.title_line.each do |t|
      %th= t

%tfoot
  %tr.total#totaux
    - @sd.total_line.each do |t|
      %th.numeric= insecable_debit_credit(t, 0)

%tbody
  - @sd.lines.each do |line|
    %tr
      - line.each do |val|
        %td.numeric= insecable_debit_credit(val, 0)