/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree
 *= require_self
*/

$clear: #FAF999;
$dark: #114411;
$medium: #32c732;
$siteWidth: 70px;

.row-pave{
    margin-top :5px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 3px;
 }

 a {
     color: #141;
}

a:hover {
    color: #003000;
    
}

.nav-tabs .dropdown-toggle .caret {
    border-top-color: #141;
}

.nav-tabs .dropdown-toggle .caret:hover {
    border-top-color: #030;
}

ul.dropdown-menu li a:hover {
    background-color: $medium;
    }

    label {
        display: inline-block;
        }
.span2-16 {
    width: $siteWidth+$siteWidth+12px;
    }