// Place all the styles related to the bank_extract_lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.public_bank_extract_lines {
  .inner-champ ul {
    list-style: inside none;
    font-weight: bold;
    }
    .numeric {
    text-align: right;
    }
  .row_detail {
    
    font-style: italic;
    td {
      font-size: 10px;
      }
    }
  .toggle-detail {
    cursor: pointer;
    }

    tfoot{
        font-weight: bold;
        .droite {
          text-align: right;
          }
        }
   #img_danger_total_debit, #img_danger_total_credit {
     display: none;
     }


  }