// Place all the styles related to the BankLines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bank_lines {
  #submenu {
     color: blueviolet;
}
.numeric {
text-align: right;
padding: 3px 10px;
}
}