// Place all the styles related to the BankExtracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.public_bank_extracts {

    th {
        padding: 0 5px;
    }

    td.numeric {
        text-align: right;
    }

    td.total {
        font-weight: bold;
        }

   .decimal {
     text-align: right;
    }

    div.actions {
        margin-top: 20px;
        margin-left: 100px;
    }

 
    span.numeric {
        margin: 2px 10px;
    }

    .inline {
        float: none;
    }
    div#zone {
        div#extract {
            border: 1px solid;
            display: inline-block;
            width: 45%;
            vertical-align: top;
            h3 {
                text-align: center;
            }
            table {
                width: 100%;
                thead tr th{

                    border-bottom-style: solid;

                    border-bottom-width: 1px;

                    border-bottom-color: orange;


                }

            }


        }
        div#arrows {
            display: inline-block;
            width: 8%;
            padding-top: 80px;
            text-align: center;
            a:hover {
                background-color: #fff;
                }


        }
        div#to_point {
            border: 1px solid;
            display: inline-block;
            vertical-align: top;
            
            width: 45%;

            h3 {
                text-align: center;
            }
            table {
                width: 100%;
                thead tr th {
                    border-bottom-style: solid;

                    border-bottom-width: 1px;

                    border-bottom-color: orange;}

                td.date {text-align: center;}
            }
        }
    }


}