// Place all the styles related to the ImportedBels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bip input , .bip select{
  padding: 0;
  margin: 0;
}

tr.not_importable td{
  color: #ff4a00;
}