/* 
Document   : jc_application
Created on : 17 mars 2012, 09:09:07
Author     : jcl
Description:
Purpose of the stylesheet follows.
*/



.inner-champ {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #dbffdb;
    border-radius: 0px 0px 4px 4px;
}

.champ h3 {
    color: #fff;
    background: #271;
    padding-left: 15px;
    border-radius: 4px 4px 0px 0px;
    font-size: 18px;

    /*    font-family: sans-serif;*/
}

.picker_date img {
    float: left;
    padding-top: 4px;
}

img.ui-datepicker-trigger {
    margin-left: -20px;
    margin-right: 4px;
}

.dataTables_wrapper label {
  font-weight: 300;
}