
#menu a.icon_menu, #submenu a.icon_menu {
    float: right;
    margin: 0px;
    padding: 0px;
    padding-right: 9px;
    border-style: none;
    border-width: 0px;
    color:white;
    text-decoration: none;
    height: 18px;

}

#menu a.icon_menu img {
    height: 16px;
    width: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.nav .icon_menu {
    float: left;
}

#main_nav > .active, #main_nav > .inactive {
  margin-bottom: -1px;
}

#main_nav >  li > a:hover {
  background-color: #cbeecb;
  color: #333;
}

#main_nav > .active > a, #main_nav > .active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.dropdown-menu li > a {
  font-size: 1em;
}

.dropdown-toggle a:hover, dropdown-toggle a:visited {
  color: #333 !important;
}





/* Utile pour que les nav-header tels que le numéro de compte ne soient pas cliquable*/
.dropdown-menu li.no-link > a:hover  {
    background-color: #FFF;
    background-image: none;
    color: #333 !important;
    text-decoration: none;
}

/* rajouté pour avoir link_to_if et link_to_unless qui affichent le lien en grisé */
.dropdown-menu span.disable {
    clear: both;
    color: #888888;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 10px;
    white-space: nowrap;
}


li.nav-header > a {
  text-transform: uppercase;
  text-align: center;
}

li.dropdown a {
  padding-left: 10px;
  padding-right: 10px; 
  /*color: #333 !important;*/
 }


.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color: #1ab333;
    color: #ffffff;
}

.nav .dropdown-toggle .caret {
    border-bottom-color: #11ad11;
    border-top-color: #11ad11;
}

.dropdown .caret {
    margin-left: 2px;
}

li.dropdown span.no-link {
  padding: 3px 20px;
  color: #888;
}


/* inséré pour avoir la même couleur dans les liens visités des menus */
li.dropdown a:visited {
 /*color: #333 !important;*/
}




