/*
Document   : layouts
Created on : 30 août 2012, 09:25:47
Author     : jcl
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
html, body {
  padding: 0px;
  margin: 0px;
  height:100%;
  }

 


  .brand {
    background-image: image-url("sigma.png");
    background-repeat: no-repeat;
    background-position: 3px 3px;
    a {color: #bbb}
    a:hover { text-decoration: none;}
    a:visited {
     color: #bbbbbb;
      }
    }

  .container-fluid {
    min-height: 100%;
    
    position:relative;
    }

    .main-zone {
      padding-bottom: 1.5em;
      }

#bottom_page {
  clear: both;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5em;
  background-color: #CBEECB;
  border-top: 1px solid  #1b431b;

   
    ul {
      margin: 0;
      list-style: none;
      display: inline;
    
    }

    li {  display: inline;
      list-style: none;
      font-size: 80%;
      a { color: #1b431b; }
      a:visited {  color: #1b431b;}
      a:hover {color: #fff;}
      

    }
  

}