// Place all the styles related to the Lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inputs_inline div.input {
    display: inline;
}

.public_lines {
    .nombre, .numeric {
        text-align: right;
        
    }
    form p {clear: both; }
    form input, form select { float: left; }
   

    table.data_table {width: 100%; }

    ul.mois {
        display: inline-block;
        text-decoration: none;
        list-style: disc outside none;
        float: right;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 13px;
        
       > li {
            display: inline-block;
            
            padding-left: 12px;
            padding-right: 12px;
            line-height: 14px;
            a {
                border-radius: 5px 5px 5px 5px;
                color: #fff;
                padding-left: 4px;
                padding-right: 4px;
                            }
            a:hover {
                     background-color: #CBEECB;
                     text-decoration: none;
                            }
            a.icon_menu {
                float: none;
                img {
                    padding-bottom: 3px;
                    }
                }

        }
     > li.active  {color: #11ad11;}
    

  }

}
   
