// Place all the styles related to the Lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inputs_inline div.input {
    display: inline;
}

.public_lines {
    .nombre {
        text-align: right;
        
    }

    table.data_table {width: 100%; }

    div.notice table td {
        padding-left: 4px;
        }

}
// affichage des mois dans les titres h3 des vues lines, mais aussi cash_lines

h3  ul.mois {
        background-color: #271;
        display: inline-block;
        text-decoration: none;
        list-style: disc outside none;
        float: right;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 13px;

       > li {
            display: inline-block;

            padding-left: 12px;
            padding-right: 12px;
            line-height: 14px;
            a {
                border-radius: 5px 5px 5px 5px;
                color: #fff;
                padding-left: 4px;
                padding-right: 4px;
                            }
            a:hover {
                     background-color: #CBEECB;
                     text-decoration: none;
                            }
            a.icon_menu {
                float: none;
                img {
                    padding-bottom: 3px;
                    }
                }

        }
     > li.active  {color: #11ad11;}


  }