// Place all the styles related to the Lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inputs_inline div.input {
    display: inline;
}

.lines {
    .nombre {
        text-align: right;
    }
.totaux {
    font-weight: bold;
   .nombre {
        border-top: 1px solid;
        
       }
    }

table {
    width: 100%;
    font-size: 10px;
    }

.numeric {
     text-align: right;
    }
}