
$clear: #FAF999;
$dark: #114411;
$medium: #32c732;
$siteWidth: 70px;

.row-pave{
    margin-top :5px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 3px;
}

/*.nav-tabs .dropdown-toggle .caret {
    border-top-color: #141;
}

.nav-tabs .dropdown-toggle .caret:hover {
    border-top-color: #030;
}

ul.dropdown-menu li a:hover {
    background-color: $medium;
}*/

label {
    display: inline-block;
}
