// Place all the styles related to the Organisms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.public_organisms {

    // mise en forme des data_table
 

/*    .top_table {
        clear: both;
        }
    table.data_table tbody {
        clear: both;
        }*/

    pre {  // pre est utilisé pour afficher les informations de debuggage
        clear: both;
    }

    td.jqplot-display-legend {
        font-size: 8pt;
    }



    #bandeau {
        .title {
            font-weight: bold;
        }
    }
    .numeric {
        text-align: right;
        padding: 3px 10px;
    }
    .alert {
        color: red;
    }
    .pave {
        display: inline-block;

        h2 {
            margin: 0px;
            padding: 3px 10px;
        }
        p {
            display: block;
            margin: 5px;
        }
        .bar_graph {
            margin-left: 5px;
        }

    }
    .income_book {
        h2  {
            background-color: green;
        }
        div {
            background-color: #EEE;
        }
    }

    .outcome_book {
               h2 {
        background-color: pink;
    }
     div {
            background-color: #EEE;
        }
    }


    .bank {
                h2 {
        background-color: #A19B9E;
    } 
        div {
            background-color: #EEE;
        }
    }

    .cash {
                h2 {
        background-color: lightblue;
    }
     div {
            background-color: #EEE;
        }
    }

    .result {
                h2 {
        background-color: goldenrod;
    }
     div {
            background-color: #EEE;
        }
    }
    .message {
        h2 {
            background-color : khaki;
        }
        div {
            background-color: #EEE;
            padding: 10px 0px 5px 0px;

        li {
          .icon_menu { float: none;}
                    }
}
       
    }


}