// Place all the styles related to the Organisms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.public_organisms {

    pre {  // pre est utilisé pour afficher les informations de debuggage
        clear: both;
        }

     td.jqplot-display-legend {
            font-size: 8pt;
            }



    #bandeau {
        .title {
            font-weight: bold;
        }
    }
    .numeric {
        text-align: right;
        padding: 3px 10px;
    }
    .alert {
        color: red;
    }
    .pave {
        display: inline-block;
        float: left;
        width: 430px;
        border: solid 1px;
        margin-top: 18px;
        margin-right: 9px;

        h2 {
            
            margin: 0px;
            padding: 9px 9px;
        }
        p {
            display: block;
            margin: 5px;
            }
        .bar_graph {
           
            margin-left: 5px;
            
       
            }

    }
    h2.IncomeBook  {

        background-color: green;

    }
    h2.OutcomeBook {

        background-color: pink;
    }
    .bank h2 {
        background-color: #A19B9E;
        }
    .cash h2 {
        background-color: lightblue;
        }
    .result h2 {
        background-color: goldenrod;
        }
    .message {
        width: 100%;
       
        margin: 0px;
        h2 {
            background-color : khaki;
            }
        li {
            line-hight: 20px;
        a:hover {
             backgraound-color: #141;
            }
        .icon_menu {
            float: none;
            }
            }
            }


}