// Place all the styles related to the Pointage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pointage {
    .numeric {
        text-align: right;
        }
    .not_pointed {
        background-color: pink;
        }
    .pointed {
        background-color: #EFE;
        }
    }