<%= content_for :menu do %>

<%= icon_to 'afficher.png', admin_organism_cashes_path(@organism), title:'Liste des caisses' %>
<%= icon_to 'retour.png', :back %>
<% end -%>

<div class="champ">
  <h3>
    Modification de la caisse
  </h3><div class="inner-champ">

<%= render 'form' %>
</div></div>



