<p>Bienvenue <%= @email %>!</p>

<p>Vous devez confirmez votre inscription au moyen du lien ci-dessous :</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>L'équipe de FaitesLesComptes</p>
