
.inner-champ
  .panel-body
    = simple_form_for([:admin, @user],
      :html=> {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name , my_wrapper_html: {class:'col-lg-4'}
      .form-actions= f.button :submit, 'Confirmer',
        class: "btn-primary col-lg-2 col-lg-offset-2"
 