%div#bottom_page
  %ul
    %li= link_to 'Nous contacter', bottom_apropos_path
    &nbsp;-&nbsp;
    %li= link_to 'Crédits', bottom_credit_path
    &nbsp;-&nbsp;
    %li= link_to "FaitesLesComptes version #{VERSION}", bottom_apropos_path