#login_logout
  - if current_user?
    Connecté en tant que
    %span= " #{current_user.name}"
    &nbsp;-&nbsp;
    = icon_to 'door-open.png', session_path(current_user), :method=>:delete, title:'Déconnexion'
  - else
    Non connecté
    = icon_to 'door.png', new_session_path, title:'Connexion'