.navabr
  .navbar.navbar-inner
    .container
      .brand
        - if @organism && @organism.persisted?
          = link_to header_title, organism_path(@organism), :tabindex=>-1, id:'home'
        -else
          = header_title
        = render 'layouts/login_logout'
      - unless controller_name == 'registrations'
        = render 'layouts/upper_menu' if @organism && @organism.persisted?