.navabr
  .navbar.navbar-inner
    .container
      .brand
        - if @organism
          = link_to header_title, organism_path(@organism)
        -else
          = header_title
        = render 'layouts/login_logout'
      = render 'layouts/upper_menu' if @organism && @organism.persisted?