%ul.nav.nav-pills.pull-right
  %li{:class=> active_inactive('root')}= link_to "Saisie/Consult",  ((@organism && !@organism.new_record?) ? organism_path(@organism) : organisms_path )
  %li{:class=> active_inactive('admin')}
    = link_to "Administration", ((@organism && !@organism.new_record?) ? admin_organism_path(@organism) : admin_organisms_path)
  %li{:class=>active_inactive('compta') }
    = link_to  "Compta", new_compta_period_balance_path(@period) if (@period && @period.accountable?)
  