<!DOCTYPE html>
<html>
  <head>
    <title>Faites les comptes !</title>
 <!-- TODO ce layout est inutilisé pour l'instant - Voir si on le garde' -->
      
    <%= csrf_meta_tags %>
  </head>
  <body class="prawn">

  <%= yield %>
 
</body>
</html>
